/* se definen medidas y colores en root  */
:root {
    --primerColor: #120F64;
    --segundoColor: #EE0D5B;
    --tercerColor: #04031F ;
    --gray: #747474;
    --white: #ffffff;
    --black: #000000;
    --letraXs: 1.5rem;
    --icon: 2rem;
    --letraS: 2rem;
    --letraM: 3rem;
    --letraL: 6rem;
  }
/* se ajusta el tamaño de la fuente para usar el tipo de medida rem */
  html{
    font-size: 62.5%;
  }
/* se reinicia padiding y margin */
  *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  body{
    background-image: linear-gradient(90deg,var(--primerColor), var(--tercerColor));
  }

  /* inicio header */

  .header {
    display: grid;
    grid-template-rows: 3rem 1fr;
    justify-items: center;
  }

  .nav__bar{
    display: grid;
    justify-items: end;
  }

  .nav__profile-avatar{
    font-size: var(--letraS);
    padding: 2rem;
  }

  .nav__body{
    margin-top: 2rem;
    display: grid;
    justify-items: center;
    gap: 1rem;
  }

  .nav__card-youtube, .nav__card-discord{
    font-size: var(--letraXs);
    font-family: 'Orbitron', sans-serif;
    letter-spacing: .1rem;
    width: 30rem;
    height: 8rem;
    padding: 1rem 0;
    color: var(--white);
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    border-bottom: .5rem solid var(--segundoColor);
  }

  .nav__card-youtube{
    margin: 1.5rem 0;
  }


  .card-youtube__description, .card-discord__description{
    width: 16rem;
  }

  .card-youtube__icon, .card-discord__icon {
    display: grid;
    place-self: center;
    margin: 1rem;
  }

  .card-youtube__icon2, .card-discord__icon2 {
    font-size: var(--icon);
  }

  .card-youtube__titulo, .card-discord__titulo{
    font-size: var(--letraXs);
    margin-bottom: .5rem;
  }

  .card-youtube__description2, .card-discord__description2 {
    font-size: var(--letraXs);
    color: var(--segundoColor);
  }


 .nav__image-logo2 {
  width: 30rem;
  filter: drop-shadow(0 0 3rem var(--segundoColor));
  margin-bottom: 3rem;

 }