/* se definen medidas y colores en root  */
:root {
    --primerColor: ##120F64;
    --segundoColor: ##EE0D5B;
    --tercerColor: ##04031F ;
    --cuartoColor: ##747474;
    --quintoColor: #ffffff;
    --letraS: 2rem;
    --letraM: 3rem;
    --letraL: 6rem;
  }
/* se ajusta el tamaño de la fuente para usar el tipo de medida rem */
  html{
    font-size: 62.5%;
  }
/* se reinicia padiding y margin */
  *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  