/* se definen medidas/colores/tipografias en root  */
:root {
  --primerColor: #120f64;
  --segundoColor: #ee0d5b;
  --tercerColor: #04031f;
  --gray: #747474;
  --white: #ffffff;
  --black: #000000;
  --celeste: #11c4f1;
  --letraXss: 1.2rem;
  --letraXs: 1.5rem;
  --icon: 2rem;
  --letraS: 2rem;
  --letraM: 3rem;
  --letraL: 6rem;
  --orbitron: "Orbitron", sans-serif;
}
/* se ajusta el tamaño de la fuente para usar el tipo de medida rem */
html {
  font-size: 62.5%;
}
/* se reinicia padiding y margin */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* body */
body {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 55rem 4fr 30rem;
  background-image: linear-gradient(90deg, var(--primerColor), var(--tercerColor));
  background-repeat: no-repeat;
  background-size: 250%;
}
/* inicio header */
.nav {
  display: grid;
  grid-template-rows: 5rem 1fr;
  justify-items: center;
}

.nav__bar {
  display: grid;
  width: 100%;
}

.nav__bar__icon {
  display: grid;
  place-self: center;
  width: 100%;
}

.nav__bar__icon2 {
  font-size: var(--letraM);
  color: var(--white);
  margin: 2rem;
  padding: 1rem;
  text-align: center;
  border-radius: 1rem;
  border-bottom: 0.4rem solid var(--segundoColor);
}

.nav__body {
  display: grid;
  justify-items: center;
  gap: 1rem;
  margin-top: 2rem;
}
/* logo */
.nav__image-logo2 {
  width: 30rem;
  margin: 3rem 0 4rem 0;
  filter: drop-shadow(0 0 4rem var(--segundoColor));
}

/* inicio contenedores de boton de redes sociales  */
.nav__card {
  font-size: var(--letraXs);
  font-family: var(--orbitron);
  letter-spacing: 0.1rem;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  width: 30rem;
  height: 8rem;
  padding: 1rem 0;
  color: var(--white);
  border-radius: 1rem;
  border-bottom: 0.3rem solid var(--segundoColor);
}

.nav__card-youtube {
  margin: 1.5rem 0;
}

.nav__card__description {
  width: 16rem;
}

.nav__card__icon {
  display: grid;
  place-self: center;
  margin: 1rem;
}

.nav__card__icon2 {
  font-size: var(--icon);
}

.nav__card__titulo {
  font-size: var(--letraXs);
  margin-bottom: 0.5rem;
  letter-spacing: .1rem;
}

.nav__card__description2 {
  font-size: var(--letraXs);
  color: var(--segundoColor);
}


/* fin contenedores de boton de redes sociales  */

/* fin header */

/* inicio main */

main{
  display: grid;
  grid-auto-flow: row;
  margin: 10rem 1rem;
  font-family: var(--orbitron);
  justify-content: center;
  /* box-shadow: 0 0 5rem var(--black); */
}

.section {
  display: grid;
  grid-auto-flow: row;
  justify-items: center;
  gap: 5rem;

}

.section--welcome{
  display: grid;
  margin: 3rem;
  grid-auto-flow: row;
  justify-items: center;
  gap: 5rem;
}

.section__article {
  width: 100%;
  display: grid;
  background-color: var(--tercerColor);
  border-radius: 3rem;
  border-bottom: 0.5rem solid var(--segundoColor);
  grid-template-rows: 1fr 38rem 1fr;
  transition: 1s;
}

.section__article:hover {
  transform: scale(1.03);

}

.section__article--welcome{
  width: 100%;
  display: grid;
  background-color: var(--tercerColor);
  border-radius: 3rem;
  border-bottom: 0.5rem solid var(--segundoColor);
}

.section__titulo {
  font-size: var(--letraXs);
  letter-spacing: .5rem;
  padding: 3rem 0;
  color: var(--celeste);
  text-align: center;
  height: 50%;
  border-bottom: 0.5rem solid var(--segundoColor);
  border-radius: 1rem;
  display: grid;
  align-self:center ;
}

.section__titulo2{
  font-size: var(--letraXss);
  letter-spacing: .5rem;
  padding-top: 3rem;
  padding-left: 3rem;
  color: var(--celeste);
}

.section__titulo3{
  font-size: var(--letraXss);
  letter-spacing: .5rem;
  padding-top: 1.5rem;
  padding-left: 3rem;
  border-bottom: 0.5rem solid var(--segundoColor);
  color: var(--white);
  padding-bottom: 2rem;
  border-radius: 1rem;
}

.section__text{
  font-size: var(--letraXss);
  line-height: 3rem;
  letter-spacing: .5rem;
  padding: 3rem;
  color: var(--white);
}
.rose{
  color: var(--segundoColor);
}

.celeste{
  color: var(--celeste)
}

.section__ul {
  overflow:auto;
}

.section__ul__li {
  font-size: var(--letraXss);
  letter-spacing: .2rem;
  margin: 4rem;
  color: var(--white);
}

.section__button {
  font-size: var(--letraXss);
  width: 17rem;
  height: 4rem;
  font-family: var(--orbitron);
  letter-spacing: .5rem;
  background-color: var(--tercerColor);
  color: var(--white);
  border-bottom: 0.5rem solid var(--segundoColor);
  border-radius: 1rem;
  justify-self: end;
  margin: 3rem;
  text-decoration: none;
  text-align: center;
  transition: .5s;
}

.section__button:hover {
  color: var(--gray);
  border-bottom: 0.5rem solid var(--celeste);

}

/* fin main */

/* inicio footer */
.footer {  
  font-family: var(--orbitron);
  width: 100%;
  height: 100%;
  display: grid;
  background-color:var(--tercerColor);
  align-items: center;
}

.ul{
  margin-bottom: none;
}

.ul__li {
  font-size: var(--letraXss);
  letter-spacing: .2rem;
  list-style: none;
  margin: 3rem 0;
  color: var(--white);
  padding: 1rem;
  transition: all .15s;
}

.ul__li--d:hover{
  border-bottom: 0.3rem solid var(--segundoColor);

}

.ul__li--w:hover, .ul__li--y:hover {
  border-bottom: 0.3rem solid var(--celeste);

}

.ul__li__a {
  text-decoration: none;
  color: var(--white);
}

.ul__li__icon {
  font-size: var(--icon);
  margin:.5rem;
}


/* fin footer */


::-webkit-scrollbar {
  width: 1rem;
  background: var(--tercerColor);
}

::-webkit-scrollbar-track {
  border: .1rem solid var(--segundoColor);
  border-radius: 3rem;
}

::-webkit-scrollbar-thumb {
  background: var(--celeste);
  border-radius: 3rem;
}